body {
    font-family: Nunito;
    /* font-size: 14px; */
    font-weight: 600;
    /* font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal; */

    
    /* cursor: URL("./SVG/cursor.svg"); */
}

*{
    padding: 0;
    margin: 0;
}

button { 
    outline: none;
    cursor: pointer;
}

/* .container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
} */


.content {
    /* grid-column: 2 / 3; */
    /* background-color: lightgray; */
    grid-area: contentBody;
    height: 100%;
}


.mainContainer {
    position: absolute;
    /* width: min(1440px, 100vw); */
    width: 100vw;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    display: grid;

    align-items: start;
    
    grid-template: 
    /* 1fr/
    auto 1fr; */
    [header-start] "navbar header" 65px [header-end]
    [main-start] "navbar content" [main-end] / 222px 10fr;
    /* [main-start] "navbar content" calc(100vh - 65px - 18px) [main-end] / 2fr 10fr; */

    /* padding: 50%; */
    column-gap: 16px;
    row-gap: 18px;
    background-color: whitesmoke;
    place-content: stretch;
    place-items: stretch;
    
}

.contentbackground {
    /* border-color: red; */
    /* border-style: solid; */
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: white; 
    grid-area: content;
    grid-template:
    [content-start] "contentBody" [content-end];
}

