div.billingcontainer {
    color:white;
}

div.billingcontainer > div.gradientbg {
    height: 225px;
    box-shadow: 0 3px 6px 0 rgba(125, 168, 255, 0.16);
    background-image: linear-gradient(to bottom, #5265e8, #5da3ff);
    display: grid;
    padding-top: 24px;
    grid-template: 
        [head-start] "icon service billingtype exit" 24px 1fr 1fr 1fr [head-end]
        ;
}

div.billingcontainer > div.gradientbg > .icon {
    grid-area: icon;
    height: 22px;
    margin-left: 21px;
}

div.billingcontainer > div.gradientbg > div.service {
    grid-area: service;
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}